<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='shortcut icon' type="imgae/png" href='/images/favicon.png' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="/images/logo.svg" alt="Message board home page">
      </a>
      <h1><%= title %></h1>
    </header>
    <main>
      <form method="post" action="/new">
        <h2>Send a message</h2>
        <div class="field">
          <label for=userName>Name:</label>
          <input type="text" id=userName name=userName minlength="1" maxlength="30" required>
        </div>
        <div class="field">
          <label for="messageText">Message:</label>
          <textarea id="messageText" name="messageText" rows="5" cols="30" required></textarea>
        </div>
        <button class="submit" type="submit">Submit</button>
      </form>
    </main>
    <footer>
      <a href="https://github.com/hannahkim313">Made by Hannah Kim</a>
    </footer>
  </body>
</html>
