<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Send a Message</h1>
    <form method="post" action="/new">
      <h2>What do you want to say?</h2>
      <div>
        <label for=userName>Name:</label>
        <input type="text" id=userName name=userName required>
      </div>
      <div>
        <label for="messageText">Message:</label>
        <input type="text" id="messageText" name="messageText" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Main page</a>
  </body>
</html>
